DEFAULT_MODEL='gpt-3.5-turbo'
DEFAULT_SYSTEM_PROMPT='You are ChatGPT, a large language model trained by OpenAI. Follow the user's instructions carefully. Respond using markdown.'
OPENAI_API_KEY='YOUR_KEY'

NEXT_PUBLIC_BASE_URL='http://localhost:3000'
NEXT_PUBLIC_AUTH0_DOMAIN=''
NEXT_PUBLIC_AUTH0_CLIENT_ID=''
NEXT_PUBLIC_CLIENT_SECRET=''
